<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body style="background-color:black;color:limegreen">
        <h1>JR's Layout</h1>
        @RenderBody()
    </body>
</html>
