.square {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 1em;
    border-radius: 15%;
}

.circle {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 1em;
    border-radius: 50%;
}