<form action="/customers/create" method="post">

    <div>
        <label>
            FirstName:
            <input name="FirstName" />
        </label>

    </div>

    <div>
        <label>
            LastName:
            <input name="LastName" />
        </label>

    </div>
    <div>
        <label>
            BillingAddress
        </label>
    </div>
    <div>
        <label>
            Street:
            <input name="BillignAddress.street" />
        </label>

    </div>

    <div>
        <label>
            City:
            <input name="City" />
        </label>

    </div>
    <div>
        <label>
            ShippingAddress
        </label>
    </div>
    <div>
        <label>
            Street:
            <input name="Street" />
        </label>

    </div>

    <div>
        <label>
            City:
            <input name="City" />
        </label>

    </div>
    <input type="submit" value="Create" />

</form>