@model NightReview1.Models.Car
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>@Model.Id</p>
        <p>@Model.Year</p>
        <p>@Model.Make</p>
        <p>@Model.Model</p>

    </div>
</body>
</html>
