@helper HelperName(string name) {
    // your helper can contain code and/or markup, e.g.
    // var msg = "Hello " + name;
    // <p>@msg</p>
    // For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}

@helper FormatCurrency(decimal amount)
{
    if (amount < 0)
    {
        <span style="color:red">@amount.ToString("c")</span>
    }
    else
    {
        <span>@amount.ToString("c")</span>

    }

}